{# ---
homeLink:
  text: Stanton
  url: /
navLinks:
  - text: About
    url: /about
  - text: Contact
    url: /contact
--- #}

{# {% set homeLink = {
  "text": "Stanton",
  "url": "/"
} %}

{% set navLinks = [
  {
    "text": "About",
    "url": "/about"
  },
  {
    "text": "Contact",
    "url": "/contact"
  }
] %} #}

<nav class="navbar">
  <a href="{{ homeLink.url | url }}" {% if page.url == homeLink.url %} aria-current="page" {% endif %} class="brand">{{ homeLink.text }}</a>

  {%- for link in navLinks -%}
    <a href="{{ link.url | url }}" {% if page.url == link.url %} aria-current="page" class="activeLink" {% endif %}>{{ link.text }}</a>
  {%- endfor -%}
</nav>
