@value colors: "../variables.module.css";
@value sectionColor, navActiveColor from colors;

.navbar {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: sectionColor;
}

.navbar h1 {
  margin: 0;
}

.navbar > a {
  margin-right: 1rem;
  font-size: 1.25rem;
}

.navbar .brand {
  font-size: 1.5rem;
}


.active-link {
  color: navActiveColor;
  font-size: 25rem;
}
