@value colors: "./variables.module.css";
@value backgroundColor, textMainColor, linkColor from colors;

body {
  background-color: backgroundColor;
  color: textMainColor;
  font-family: Univers,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1.25rem;
  margin: 0;
  padding: 0;
}

a {
  color: linkColor;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
